[submodule "metasploit-framework"]
	path = exploitation/metasploit-framework/metasploit-framework
	url = git@github.com:rapid7/metasploit-framework.git
	ignore = dirty
[submodule "impacket"]
	path = exploitation/impacket/impacket
	url = git@github.com:SecureAuthCorp/impacket.git
	ignore = dirty
[submodule "Certipy"]
	path = exploitation/Certipy/Certipy
	url = git@github.com:ly4k/Certipy.git
	ignore = dirty
[submodule "krbrelayx"]
	path = exploitation/krbrelayx/krbrelayx
	url = git@github.com:dirkjanm/krbrelayx.git
	ignore = dirty
[submodule "adidnsdump"]
	path = post-exploitation/adidnsdump/adidnsdump
	url = git@github.com:dirkjanm/adidnsdump.git
	ignore = dirty
[submodule "gobuster"]
	path = intelligence-gathering/gobuster/gobuster
	url = git@github.com:OJ/gobuster.git
	ignore = dirty
[submodule "LdapRelayScan"]
	path = vulnerability-analysis/LdapRelayScan/LdapRelayScan
	url = git@github.com:zyn3rgy/LdapRelayScan.git
	ignore = dirty
[submodule "jwt_tool"]
	path = vulnerability-analysis/jwt_tool/jwt_tool
	url = git@github.com:ticarpi/jwt_tool.git
	ignore = dirty
[submodule "checkov"]
	path = vulnerability-analysis/checkov/checkov
	url = git@github.com:bridgecrewio/checkov.git
	ignore = dirty
[submodule "ldapdomaindump"]
	path = post-exploitation/ldapdomaindump/ldapdomaindump
	url = git@github.com:dirkjanm/ldapdomaindump.git
	ignore = dirty
[submodule "Responder"]
	path = exploitation/Responder/Responder
	url = git@github.com:lgandx/Responder.git
	ignore = dirty
[submodule "evil-winrm"]
	path = post-exploitation/evil-winrm/evil-winrm
	url = git@github.com:Hackplayers/evil-winrm.git
	ignore = dirty
[submodule "lsassy"]
	path = post-exploitation/lsassy/lsassy
	url = git@github.com:Hackndo/lsassy.git
	ignore = dirty
[submodule "rsh"]
	path = post-exploitation/rsh/rsh
	url = git@github.com:mzfr/rsh.git
	ignore = dirty
[submodule "cloud_enum"]
	path = intelligence-gathering/cloud_enum/cloud_enum
	url = git@github.com:initstring/cloud_enum.git
	ignore = dirty
[submodule "LinkFinder"]
	path = intelligence-gathering/LinkFinder/LinkFinder
	url = git@github.com:GerbenJavado/LinkFinder.git
	ignore = dirty
[submodule "msldap"]
	path = post-exploitation/msldap/msldap
	url = git@github.com:skelsec/msldap.git
	ignore = dirty
[submodule "smbmap"]
	path = post-exploitation/smbmap/smbmap
	url = git@github.com:ShawnDEvans/smbmap.git
	ignore = dirty
[submodule "EyeWitness"]
	path = intelligence-gathering/EyeWitness/EyeWitness
	url = git@github.com:FortyNorthSecurity/EyeWitness.git
	ignore = dirty
