[submodule "metasploit-framework"]
	path = exploitation/metasploit-framework/metasploit-framework
	url = git@github.com:rapid7/metasploit-framework.git
	ignore = dirty
[submodule "impacket"]
	path = exploitation/impacket/impacket
	url = git@github.com:SecureAuthCorp/impacket.git
	ignore = dirty
[submodule "Certipy"]
	path = exploitation/Certipy/Certipy
	url = git@github.com:ly4k/Certipy.git
	ignore = dirty
[submodule "krbrelayx"]
	path = exploitation/krbrelayx/krbrelayx
	url = git@github.com:dirkjanm/krbrelayx.git
	ignore = dirty
